@use './colors' as colors;

.transition-transform-1-ease-in-out {
  transition: transform 0.1s ease-in-out;
}

.transition-transform-2-ease-quick {
  transition: transform 0.2s ease-in-out;
}

.transition-opacity-ease-out {
  transition: opacity 0.2s ease-out;
}

.transition-1 {
  transition: 0.1s;
}

.transition-1-all {
  transition: 0.1s all;
}

.transition-1-ease-all {
  transition: 0.1s ease all;
}

.transition-2 {
  transition: 0.2s;
}

.transition-2-all {
  transition: 0.2s all;
}

.transition-2-ease-all {
  transition: 0.2s ease all;
}

.transition-3 {
  transition: 0.3s;
}

.transition-3-all {
  transition: 0.3s all;
}

.transition-3-ease-all {
  transition: 0.3s ease;
}

.transition-4 {
  transition: 0.4s;
}

.transition-4-all {
  transition: 0.4s all;
}

.transition-4-ease-all {
  transition: 0.4s ease all;
}

.transition-5 {
  transition: 0.5s;
}

.transition-5-all {
  transition: 0.5s all;
}

.transition-5-ease-all {
  transition: 0.5s ease all;
}

.transition-6 {
  transition: 0.6s;
}

.transition-6-all {
  transition: 0.6s all;
}

.transition-6-ease-all {
  transition: 0.6s ease all;
}

.transition-7 {
  transition: 0.7s;
}

.transition-7-all {
  transition: 0.7s all;
}

.transition-7-ease-all {
  transition: 0.7s ease all;
}

.transition-8 {
  transition: 0.8s;
}

.transition-8-all {
  transition: 0.8s all;
}

.transition-8-ease-all {
  transition: 0.8s ease all;
}

.transition-9 {
  transition: 0.9s;
}

.transition-9-all {
  transition: 0.9s all;
}

.transition-9-ease-all {
  transition: 0.9s ease all;
}

.rotate-0 {
  transform: rotate(0deg);
}

.rotate-45 {
  transform: rotate(45deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-135 {
  transform: rotate(135deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-225 {
  transform: rotate(225deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.rotate-315 {
  transform: rotate(315deg);
}

.rotate-360 {
  transform: rotate(360deg);
}

.-rotate-45 {
  transform: rotate(-45deg);
}

.-rotate-90 {
  transform: rotate(-90deg);
}

.-rotate-135 {
  transform: rotate(-135deg);
}

.-rotate-180 {
  transform: rotate(-180deg);
}

.-rotate-225 {
  transform: rotate(-225deg);
}

.-rotate-270 {
  transform: rotate(-270deg);
}

.-rotate-315 {
  transform: rotate(-315deg);
}

.-rotate-360 {
  transform: rotate(-360deg);
}

.spinning {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
}

.spinning-rainbow {
  animation: 1.5s linear infinite spinner, 4.5s linear infinite spinner-rainbow;
  animation-play-state: inherit;
}

.will-change-transform {
  will-change: transform;
}

.translate-50-25 {
  transform: translate(-50%, -25%);
}

.translate-50-5 {
  transform: translate(-50%, -5%);
}

.translate-50-50 {
  transform: translate(-50%, -50%);
}

/* ----------------- */
/* --- SPINNER ----- */
/* ----------------- */
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@keyframes spinner-rainbow {
  0% {
    border-right-color: colors.$lava-6;
    border-bottom-color: colors.$lava-6;
    border-left-color: colors.$lava-6;
  }
  14% {
    border-right-color: colors.$carrot-6;
    border-bottom-color: colors.$carrot-6;
    border-left-color: colors.$carrot-6;
  }
  28% {
    border-right-color: colors.$banana-7;
    border-bottom-color: colors.$banana-7;
    border-left-color: colors.$banana-7;
  }
  42% {
    border-right-color: colors.$emerald-6;
    border-bottom-color: colors.$emerald-6;
    border-left-color: colors.$emerald-6;
  }
  57% {
    border-right-color: colors.$blue-6;
    border-bottom-color: colors.$blue-6;
    border-left-color: colors.$blue-6;
  }
  71% {
    border-right-color: colors.$purple-7;
    border-bottom-color: colors.$purple-7;
    border-left-color: colors.$purple-7;
  }
  85% {
    border-right-color: colors.$violet-9;
    border-bottom-color: colors.$violet-9;
    border-left-color: colors.$violet-9;
  }
  100% {
    border-right-color: colors.$lava-6;
    border-bottom-color: colors.$lava-6;
    border-left-color: colors.$lava-6;
  }
}
