@use './colors' as colors;

// Create an array of for every color
$all-colors: (
  "lava-1": colors.$lava-1,
  "lava-2": colors.$lava-2,
  "lava-3": colors.$lava-3,
  "lava-4": colors.$lava-4,
  "lava-5": colors.$lava-5,
  "lava-6": colors.$lava-6,
  "lava-7": colors.$lava-7,
  "lava-8": colors.$lava-8,
  "lava-9": colors.$lava-9,
  "lava-10": colors.$lava-10,
  "apple-1": colors.$apple-1,
  "apple-2": colors.$apple-2,
  "apple-3": colors.$apple-3,
  "apple-4": colors.$apple-4,
  "apple-5": colors.$apple-5,
  "apple-6": colors.$apple-6,
  "apple-7": colors.$apple-7,
  "apple-8": colors.$apple-8,
  "apple-9": colors.$apple-9,
  "apple-10": colors.$apple-10,
  "ruby-1": colors.$ruby-1,
  "ruby-2": colors.$ruby-2,
  "ruby-3": colors.$ruby-3,
  "ruby-4": colors.$ruby-4,
  "ruby-5": colors.$ruby-5,
  "ruby-6": colors.$ruby-6,
  "ruby-7": colors.$ruby-7,
  "ruby-8": colors.$ruby-8,
  "ruby-9": colors.$ruby-9,
  "ruby-10": colors.$ruby-10,
  "red-1": colors.$red-1,
  "red-2": colors.$red-2,
  "red-3": colors.$red-3,
  "red-4": colors.$red-4,
  "red-5": colors.$red-5,
  "red-6": colors.$red-6,
  "red-7": colors.$red-7,
  "red-8": colors.$red-8,
  "red-9": colors.$red-9,
  "red-10": colors.$red-10,
  "flamingo-1": colors.$flamingo-1,
  "flamingo-2": colors.$flamingo-2,
  "flamingo-3": colors.$flamingo-3,
  "flamingo-4": colors.$flamingo-4,
  "flamingo-5": colors.$flamingo-5,
  "flamingo-6": colors.$flamingo-6,
  "flamingo-7": colors.$flamingo-7,
  "flamingo-8": colors.$flamingo-8,
  "flamingo-9": colors.$flamingo-9,
  "flamingo-10": colors.$flamingo-10,
  "lotus-1": colors.$lotus-1,
  "lotus-2": colors.$lotus-2,
  "lotus-3": colors.$lotus-3,
  "lotus-4": colors.$lotus-4,
  "lotus-5": colors.$lotus-5,
  "lotus-6": colors.$lotus-6,
  "lotus-7": colors.$lotus-7,
  "lotus-8": colors.$lotus-8,
  "lotus-9": colors.$lotus-9,
  "lotus-10": colors.$lotus-10,
  "sakura-1": colors.$sakura-1,
  "sakura-2": colors.$sakura-2,
  "sakura-3": colors.$sakura-3,
  "sakura-4": colors.$sakura-4,
  "sakura-5": colors.$sakura-5,
  "sakura-6": colors.$sakura-6,
  "sakura-7": colors.$sakura-7,
  "sakura-8": colors.$sakura-8,
  "sakura-9": colors.$sakura-9,
  "sakura-10": colors.$sakura-10,
  "pink-1": colors.$pink-1,
  "pink-2": colors.$pink-2,
  "pink-3": colors.$pink-3,
  "pink-4": colors.$pink-4,
  "pink-5": colors.$pink-5,
  "pink-6": colors.$pink-6,
  "pink-7": colors.$pink-7,
  "pink-8": colors.$pink-8,
  "pink-9": colors.$pink-9,
  "pink-10": colors.$pink-10,
  "monarch-1": colors.$monarch-1,
  "monarch-2": colors.$monarch-2,
  "monarch-3": colors.$monarch-3,
  "monarch-4": colors.$monarch-4,
  "monarch-5": colors.$monarch-5,
  "monarch-6": colors.$monarch-6,
  "monarch-7": colors.$monarch-7,
  "monarch-8": colors.$monarch-8,
  "monarch-9": colors.$monarch-9,
  "monarch-10": colors.$monarch-10,
  "pumpkin-1": colors.$pumpkin-1,
  "pumpkin-2": colors.$pumpkin-2,
  "pumpkin-3": colors.$pumpkin-3,
  "pumpkin-4": colors.$pumpkin-4,
  "pumpkin-5": colors.$pumpkin-5,
  "pumpkin-6": colors.$pumpkin-6,
  "pumpkin-7": colors.$pumpkin-7,
  "pumpkin-8": colors.$pumpkin-8,
  "pumpkin-9": colors.$pumpkin-9,
  "pumpkin-10": colors.$pumpkin-10,
  "carrot-1": colors.$carrot-1,
  "carrot-2": colors.$carrot-2,
  "carrot-3": colors.$carrot-3,
  "carrot-4": colors.$carrot-4,
  "carrot-5": colors.$carrot-5,
  "carrot-6": colors.$carrot-6,
  "carrot-7": colors.$carrot-7,
  "carrot-8": colors.$carrot-8,
  "carrot-9": colors.$carrot-9,
  "carrot-10": colors.$carrot-10,
  "orange-1": colors.$orange-1,
  "orange-2": colors.$orange-2,
  "orange-3": colors.$orange-3,
  "orange-4": colors.$orange-4,
  "orange-5": colors.$orange-5,
  "orange-6": colors.$orange-6,
  "orange-7": colors.$orange-7,
  "orange-8": colors.$orange-8,
  "orange-9": colors.$orange-9,
  "orange-10": colors.$orange-10,
  "calico-1": colors.$calico-1,
  "calico-2": colors.$calico-2,
  "calico-3": colors.$calico-3,
  "calico-4": colors.$calico-4,
  "calico-5": colors.$calico-5,
  "calico-6": colors.$calico-6,
  "calico-7": colors.$calico-7,
  "calico-8": colors.$calico-8,
  "calico-9": colors.$calico-9,
  "calico-10": colors.$calico-10,
  "desert-1": colors.$desert-1,
  "desert-2": colors.$desert-2,
  "desert-3": colors.$desert-3,
  "desert-4": colors.$desert-4,
  "desert-5": colors.$desert-5,
  "desert-6": colors.$desert-6,
  "desert-7": colors.$desert-7,
  "desert-8": colors.$desert-8,
  "desert-9": colors.$desert-9,
  "desert-10": colors.$desert-10,
  "coffee-1": colors.$coffee-1,
  "coffee-2": colors.$coffee-2,
  "coffee-3": colors.$coffee-3,
  "coffee-4": colors.$coffee-4,
  "coffee-5": colors.$coffee-5,
  "coffee-6": colors.$coffee-6,
  "coffee-7": colors.$coffee-7,
  "coffee-8": colors.$coffee-8,
  "coffee-9": colors.$coffee-9,
  "coffee-10": colors.$coffee-10,
  "brown-1": colors.$brown-1,
  "brown-2": colors.$brown-2,
  "brown-3": colors.$brown-3,
  "brown-4": colors.$brown-4,
  "brown-5": colors.$brown-5,
  "brown-6": colors.$brown-6,
  "brown-7": colors.$brown-7,
  "brown-8": colors.$brown-8,
  "brown-9": colors.$brown-9,
  "brown-10": colors.$brown-10,
  "sun-1": colors.$sun-1,
  "sun-2": colors.$sun-2,
  "sun-3": colors.$sun-3,
  "sun-4": colors.$sun-4,
  "sun-5": colors.$sun-5,
  "sun-6": colors.$sun-6,
  "sun-7": colors.$sun-7,
  "sun-8": colors.$sun-8,
  "sun-9": colors.$sun-9,
  "sun-10": colors.$sun-10,
  "banana-1": colors.$banana-1,
  "banana-2": colors.$banana-2,
  "banana-3": colors.$banana-3,
  "banana-4": colors.$banana-4,
  "banana-5": colors.$banana-5,
  "banana-6": colors.$banana-6,
  "banana-7": colors.$banana-7,
  "banana-8": colors.$banana-8,
  "banana-9": colors.$banana-9,
  "banana-10": colors.$banana-10,
  "corn-1": colors.$corn-1,
  "corn-2": colors.$corn-2,
  "corn-3": colors.$corn-3,
  "corn-4": colors.$corn-4,
  "corn-5": colors.$corn-5,
  "corn-6": colors.$corn-6,
  "corn-7": colors.$corn-7,
  "corn-8": colors.$corn-8,
  "corn-9": colors.$corn-9,
  "corn-10": colors.$corn-10,
  "yellow-1": colors.$yellow-1,
  "yellow-2": colors.$yellow-2,
  "yellow-3": colors.$yellow-3,
  "yellow-4": colors.$yellow-4,
  "yellow-5": colors.$yellow-5,
  "yellow-6": colors.$yellow-6,
  "yellow-7": colors.$yellow-7,
  "yellow-8": colors.$yellow-8,
  "yellow-9": colors.$yellow-9,
  "yellow-10": colors.$yellow-10,
  "leaf-1": colors.$leaf-1,
  "leaf-2": colors.$leaf-2,
  "leaf-3": colors.$leaf-3,
  "leaf-4": colors.$leaf-4,
  "leaf-5": colors.$leaf-5,
  "leaf-6": colors.$leaf-6,
  "leaf-7": colors.$leaf-7,
  "leaf-8": colors.$leaf-8,
  "leaf-9": colors.$leaf-9,
  "leaf-10": colors.$leaf-10,
  "emerald-1": colors.$emerald-1,
  "emerald-2": colors.$emerald-2,
  "emerald-3": colors.$emerald-3,
  "emerald-4": colors.$emerald-4,
  "emerald-5": colors.$emerald-5,
  "emerald-6": colors.$emerald-6,
  "emerald-7": colors.$emerald-7,
  "emerald-8": colors.$emerald-8,
  "emerald-9": colors.$emerald-9,
  "emerald-10": colors.$emerald-10,
  "frog-1": colors.$frog-1,
  "frog-2": colors.$frog-2,
  "frog-3": colors.$frog-3,
  "frog-4": colors.$frog-4,
  "frog-5": colors.$frog-5,
  "frog-6": colors.$frog-6,
  "frog-7": colors.$frog-7,
  "frog-8": colors.$frog-8,
  "frog-9": colors.$frog-9,
  "frog-10": colors.$frog-10,
  "green-1": colors.$green-1,
  "green-2": colors.$green-2,
  "green-3": colors.$green-3,
  "green-4": colors.$green-4,
  "green-5": colors.$green-5,
  "green-6": colors.$green-6,
  "green-7": colors.$green-7,
  "green-8": colors.$green-8,
  "green-9": colors.$green-9,
  "green-10": colors.$green-10,
  "ocean-1": colors.$ocean-1,
  "ocean-2": colors.$ocean-2,
  "ocean-3": colors.$ocean-3,
  "ocean-4": colors.$ocean-4,
  "ocean-5": colors.$ocean-5,
  "ocean-6": colors.$ocean-6,
  "ocean-7": colors.$ocean-7,
  "ocean-8": colors.$ocean-8,
  "ocean-9": colors.$ocean-9,
  "ocean-10": colors.$ocean-10,
  "sky-1": colors.$sky-1,
  "sky-2": colors.$sky-2,
  "sky-3": colors.$sky-3,
  "sky-4": colors.$sky-4,
  "sky-5": colors.$sky-5,
  "sky-6": colors.$sky-6,
  "sky-7": colors.$sky-7,
  "sky-8": colors.$sky-8,
  "sky-9": colors.$sky-9,
  "sky-10": colors.$sky-10,
  "blue-rose-1": colors.$blue-rose-1,
  "blue-rose-2": colors.$blue-rose-2,
  "blue-rose-3": colors.$blue-rose-3,
  "blue-rose-4": colors.$blue-rose-4,
  "blue-rose-5": colors.$blue-rose-5,
  "blue-rose-6": colors.$blue-rose-6,
  "blue-rose-7": colors.$blue-rose-7,
  "blue-rose-8": colors.$blue-rose-8,
  "blue-rose-9": colors.$blue-rose-9,
  "blue-rose-10": colors.$blue-rose-10,
  "blue-1": colors.$blue-1,
  "blue-2": colors.$blue-2,
  "blue-3": colors.$blue-3,
  "blue-4": colors.$blue-4,
  "blue-5": colors.$blue-5,
  "blue-6": colors.$blue-6,
  "blue-7": colors.$blue-7,
  "blue-8": colors.$blue-8,
  "blue-9": colors.$blue-9,
  "blue-10": colors.$blue-10,
  "grape-1": colors.$grape-1,
  "grape-2": colors.$grape-2,
  "grape-3": colors.$grape-3,
  "grape-4": colors.$grape-4,
  "grape-5": colors.$grape-5,
  "grape-6": colors.$grape-6,
  "grape-7": colors.$grape-7,
  "grape-8": colors.$grape-8,
  "grape-9": colors.$grape-9,
  "grape-10": colors.$grape-10,
  "lavender-1": colors.$lavender-1,
  "lavender-2": colors.$lavender-2,
  "lavender-3": colors.$lavender-3,
  "lavender-4": colors.$lavender-4,
  "lavender-5": colors.$lavender-5,
  "lavender-6": colors.$lavender-6,
  "lavender-7": colors.$lavender-7,
  "lavender-8": colors.$lavender-8,
  "lavender-9": colors.$lavender-9,
  "lavender-10": colors.$lavender-10,
  "violet-1": colors.$violet-1,
  "violet-2": colors.$violet-2,
  "violet-3": colors.$violet-3,
  "violet-4": colors.$violet-4,
  "violet-5": colors.$violet-5,
  "violet-6": colors.$violet-6,
  "violet-7": colors.$violet-7,
  "violet-8": colors.$violet-8,
  "violet-9": colors.$violet-9,
  "violet-10": colors.$violet-10,
  "purple-1": colors.$purple-1,
  "purple-2": colors.$purple-2,
  "purple-3": colors.$purple-3,
  "purple-4": colors.$purple-4,
  "purple-5": colors.$purple-5,
  "purple-6": colors.$purple-6,
  "purple-7": colors.$purple-7,
  "purple-8": colors.$purple-8,
  "purple-9": colors.$purple-9,
  "purple-10": colors.$purple-10,
  "fog-1": colors.$fog-1,
  "fog-2": colors.$fog-2,
  "fog-3": colors.$fog-3,
  "fog-4": colors.$fog-4,
  "fog-5": colors.$fog-5,
  "fog-6": colors.$fog-6,
  "fog-7": colors.$fog-7,
  "fog-8": colors.$fog-8,
  "fog-9": colors.$fog-9,
  "fog-10": colors.$fog-10,
  "stone-1": colors.$stone-1,
  "stone-2": colors.$stone-2,
  "stone-3": colors.$stone-3,
  "stone-4": colors.$stone-4,
  "stone-5": colors.$stone-5,
  "stone-6": colors.$stone-6,
  "stone-7": colors.$stone-7,
  "stone-8": colors.$stone-8,
  "stone-9": colors.$stone-9,
  "stone-10": colors.$stone-10,
  "cloud-1": colors.$cloud-1,
  "cloud-2": colors.$cloud-2,
  "cloud-3": colors.$cloud-3,
  "cloud-4": colors.$cloud-4,
  "cloud-5": colors.$cloud-5,
  "cloud-6": colors.$cloud-6,
  "cloud-7": colors.$cloud-7,
  "cloud-8": colors.$cloud-8,
  "cloud-9": colors.$cloud-9,
  "cloud-10": colors.$cloud-10,
  "gray-1": colors.$gray-1,
  "gray-2": colors.$gray-2,
  "gray-3": colors.$gray-3,
  "gray-4": colors.$gray-4,
  "gray-5": colors.$gray-5,
  "gray-6": colors.$gray-6,
  "gray-7": colors.$gray-7,
  "gray-8": colors.$gray-8,
  "gray-9": colors.$gray-9,
  "gray-10": colors.$gray-10,
  "white": colors.$white,
  "black": colors.$black,
  "transparent": colors.$transparent
);

@each $color, $value in $all-colors {
  .#{$color} {
    color: $value;
  }

  .hover\:#{$color} {
    &:hover {
      color: $value;
    }
  }

  .focus\:#{$color} {
    &:focus {
      color: $value;
    }
  }

  .active\:#{$color} {
    &:active {
      color: $value;
    }
  }

  .checked\:#{$color} {
    &:checked {
      color: $value;
    }
  }

  .after\:#{$color} {
    &:after {
      color: $value;
    }
  }

  .before\:#{$color} {
    &:before {
      color: $value;
    }
  }

  .#{$color}-bg {
    background-color: $value;
  }

  .hover\:#{$color}-bg {
    &:hover {
      background-color: $value;
    }
  }

  .focus\:#{$color}-bg {
    &:focus {
      background-color: $value;
    }
  }

  .active\:#{$color}-bg {
    &:active {
      background-color: $value;
    }
  }

  .checked\:#{$color}-bg {
    &:checked {
      background-color: $value;
    }
  }

  .after\:#{$color}-bg {
    &:after {
      background-color: $value;
    }
  }

  .before\:#{$color}-bg {
    &:before {
      background-color: $value;
    }
  }

  .border-#{$color} {
    border-color: $value;
  }

  .hover\:border-#{$color} {
    &:hover {
      border-color: $value;
    }
  }

  .focus\:border-#{$color} {
    &:focus {
      border-color: $value;
    }
  }

  .active\:border-#{$color} {
    &:active {
      border-color: $value;
    }
  }

  .checked\:border-#{$color} {
    &:checked {
      border-color: $value;
    }
  }

  .after\:border-#{$color} {
    &:after {
      border-color: $value;
    }
  }

  .before\:border-#{$color} {
    &:before {
      border-color: $value;
    }
  }

  .border-t-#{$color} {
    border-top-color: $value;
  }

  .hover\:border-t-#{$color} {
    &:hover {
      border-top-color: $value;
    }
  }

  .focus\:border-t-#{$color} {
    &:focus {
      border-top-color: $value;
    }
  }

  .active\:border-t-#{$color} {
    &:active {
      border-top-color: $value;
    }
  }

  .checked\:border-t-#{$color} {
    &:checked {
      border-top-color: $value;
    }
  }

  .after\:border-t-#{$color} {
    &:after {
      border-top-color: $value;
    }
  }

  .before\:border-t-#{$color} {
    &:before {
      border-top-color: $value;
    }
  }

  .border-r-#{$color} {
    border-right-color: $value;
  }

  .hover\:border-r-#{$color} {
    &:hover {
      border-right-color: $value;
    }
  }

  .focus\:border-r-#{$color} {
    &:focus {
      border-right-color: $value;
    }
  }

  .active\:border-r-#{$color} {
    &:active {
      border-right-color: $value;
    }
  }

  .checked\:border-r-#{$color} {
    &:checked {
      border-right-color: $value;
    }
  }

  .after\:border-r-#{$color} {
    &:after {
      border-right-color: $value;
    }
  }

  .before\:border-r-#{$color} {
    &:before {
      border-right-color: $value;
    }
  }

  .border-b-#{$color} {
    border-bottom-color: $value;
  }

  .hover\:border-b-#{$color} {
    &:hover {
      border-bottom-color: $value;
    }
  }

  .focus\:border-b-#{$color} {
    &:focus {
      border-bottom-color: $value;
    }
  }

  .active\:border-b-#{$color} {
    &:active {
      border-bottom-color: $value;
    }
  }

  .checked\:border-b-#{$color} {
    &:checked {
      border-bottom-color: $value;
    }
  }

  .after\:border-b-#{$color} {
    &:after {
      border-bottom-color: $value;
    }
  }

  .before\:border-b-#{$color} {
    &:before {
      border-bottom-color: $value;
    }
  }

  .border-l-#{$color} {
    border-left-color: $value;
  }

  .hover\:border-l-#{$color} {
    &:hover {
      border-left-color: $value;
    }
  }

  .focus\:border-l-#{$color} {
    &:focus {
      border-left-color: $value;
    }
  }

  .active\:border-l-#{$color} {
    &:active {
      border-left-color: $value;
    }
  }

  .checked\:border-l-#{$color} {
    &:checked {
      border-left-color: $value;
    }
  }

  .after\:border-l-#{$color} {
    &:after {
      border-left-color: $value;
    }
  }

  .before\:border-l-#{$color} {
    &:before {
      border-left-color: $value;
    }
  }
}
